<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
<!-- bean definitions here -->
    <bean id="computer" class="dependencyInjectionWithSpring.Computer"></bean>
    
	<bean id="laptop" class="dependencyInjectionWithSpring.Laptop">
		<property name="computer" ref="computer"></property>
	</bean>
</beans>